* {
  margin: 5px 10px;
  padding: 5px;

  background-color: rgb(235, 235, 197);
}
#root,
.App {
  margin: 0px;
  padding: 0px;
}

.userlist {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Card {
  margin: 50px;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: ivory;
  width: 34rem;
}
.Card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.txt {
  margin: 5px 15px;
  padding: 5px;
}
.txt > div {
  display: flex;
  margin: 0px auto;
  padding: 0px auto;
}
.Card h3,
.Card h4,
.Card h5,
.Card div {
  background-color: ivory;
}
